/* Font override */
body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Bai Jamjuree', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background-color: #c6bfa6
  font-family: 'Bai Jamjuree', sans-serif;
}
nav{
  background-color: #f6f4eb:
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%
  list-style: no;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Masthead */
.masthead {
    position: relative;
    background-color: #1e2d2f;
    color: white;
    padding-top: 3rem;
    padding-bottom: 8rem;
    background-size: cover;
    background-position: center;
}